{{> message}}
<a href='./todos/new'>Create</a>
{{#each todos}}
  <div>
    <input id='item-{{this.id}}' type='checkbox' disabled {{#if this.isComplete}}checked{{/if}} />
    <label for='item-{{this.id}}'>{{this.name}}</label>
    <a href='./todos/{{this.id}}'>detail</a>
    <a href='./todos/{{this.id}}/edit'>edit</a>
    <form
      action='./todos/{{this.id}}?_method=DELETE'
      method='post'
      style='display: inline'
    >
      <button type='submit'>刪除</button>
    </form>
  </div>
{{/each}}
<form action="/todos?page=" method="get" style="display: inline">
<input name="page" type="hidden" value="{{todos.prevPage}}">
<button type="submit" {{#unless todos.prevPage}}disabled{{/unless}}>prev</button>
</form>
<form action="/todos" method="get" style="display: inline">
<input name="page" type="hidden" value="{{todos.nextPage}}">
<button type="submit" {{#unless todos.nextPage}}disabled{{/unless}}>next</button>
</form>
<span>page: {{todos.page}}</span>
